---
import HeaderPage from "../components/HeaderPage.astro";
import Layout from "../layouts/Layout.astro";
---

<head>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>
<Layout pageTitle="Accueil">
  <HeaderPage />
  <main class="p-4">
    <h1>Bienvenue sur la page d'accueil</h1>
    <!-- Ton contenu ici -->
  </main>
</Layout>
