---
interface LinkOeuvreProps {
  oeuvre: {
    id: string;
    titre: string;
  };
}

const { oeuvre } = Astro.props;
---

<a href={`/oeuvres/${oeuvre.id}`} class="text-blue-400 hover:underline">
  {oeuvre.titre}
</a>
