---
interface LinkOeuvreProps {
  oeuvre: {
    id: string;
    titre: string;
    cover: string;
  };
}

const { oeuvre } = Astro.props;
---

<a href={`/oeuvres/${oeuvre.id}`} class="text-white text-2xl font-semibold">
  {oeuvre.titre}
</a>
