---
interface LinkOeuvreProps {
  oeuvres: {
    id: string;
    titre: string;
  };
}

const { oeuvres } = Astro.props;
---

<a href={`/oeuvres/${oeuvres.id}`} class="text-blue-400 hover:underline">
  {oeuvres.titre}
</a>
