---
interface Props {
  compositeur: { id: string; nom: string } | null;
}

const { compositeur } = Astro.props;
---

{
  compositeur ? (
    <a
      href={`/compositeurs/${compositeur.id}`}
      class="text-jaune_petant "
    >
      {compositeur.nom}
    </a>
  ) : (
    <span class="text-white">Compositeur inconnu</span>
  )
}
